{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="mountain hiking" />
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas eligendi numquam ipsum dolorem, hic illo nihil quisquam quibusdam non, deleniti fuga, eveniet atque ab? Adipisci sunt rem accusantium placeat modi?</p>
            </div>
        </a>
    </article>
</li>