{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}


{% block title %}
    My Blog
{% endblock title %}


{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/paris.jpeg" %}" alt="Ken's pic" />
            <h2>Ken's blog</h2>
        </header>
        <p>Hi, I am Ken. I love coding!</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste voluptates dolores eius reprehenderit quo ullam, odit molestiae adipisci deserunt fuga voluptatibus explicabo dicta facilis alias aliquam consectetur esse non vero?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci, inventore nulla distinctio neque, reiciendis velit hic accusamus voluptatum quisquam ipsum ducimus deserunt nisi! Unde minima ullam qui veritatis ex.</p>
        </section>
    
{% endblock content %}